<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootsrap.min.css">
    <style>
        .formula {
            margin-top: 20px;
            height: 60px;
            object-fit: contain;
        }
        .chozuji {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .answers p {
            font-size: 20px;
        }
    </style>
</head>
<body>

    <div id="app">
        <button class="btn btn-info" @click.prevent="showSolver">Solver</button>
        <button class="btn btn-info" @click.prevent="showFormulas">Formulas</button>

        <form class="chozuji" action="#" method="POST" role="form" v-if="solver">
            <div class="form-group">
                <label for="">n</label>
                <input type="number" class="form-control" v-model="n" placeholder="enter n">
            </div>
            <div class="form-group">
                <label for="">R</label>
                <input type="number" class="form-control" v-model="R" placeholder="enter R">
            </div>
        </form>

        <div class="answers" v-if="solver">
            <p>
                Area = <span>{{ area }}</span>
            </p>
            <p>
                a = <span>{{ a }}</span>
            </p>
            <p>
                Radius = <span>{{ radius }}</span>
            </p>
        </div>

        <div class="row" v-if="!solver">
            <div class="col-md-4">
                Area: <img src="../images/kopburchlyk2/1.png" class="formula">
            </div>
            <div class="col-md-4">
                a: <img src="../images/kopburchlyk2/2.png" class="formula">
            </div>
            <div class="col-md-4">
                Radius: <img src="../images/kopburchlyk2/3.png" class="formula">
            </div>
        </div>
    </div>

    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                solver: true,
                area: '',
                a: '',
                radius: '',
                n: '',
                R: '',
            },
            watch: {
                n() {
                    this.n = parseInt(this.n);
                    this.solve();
                },
                R() {
                    this.R = parseInt(this.R);
                    this.solve();
                },
            },
            methods: {
                showSolver() {
                    this.solver = true
                },
                showFormulas() {
                    this.solver = false
                },
                solve() {
                    this.area = this.n * Math.pow(this.R, 2) / 2 * Math.sin((360 / this.n * Math.PI) / 180);
                    this.a = 2 * this.R * Math.sin((180 / this.n * Math.PI) / 180);
                    this.radius = this.R * Math.cos((180 / this.n * Math.PI) / 180);
                }
            }
        });
    </script>
</body>
</html>
